# PostgreSQL Database Credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=takwira_db
POSTGRES_PORT=5432

# Connection string for applications/Prisma connecting to this database
DATABASE_URL="postgresql://postgres:YOUR_PASSWORD_HERE@localhost:5432/takwira_db?schema=public"
